[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=BR
ST=Mato Grosso do Sul
L=Dourados
O=Consizo
OU=Local Development
emailAddress=zoiosilva@yahoo.com.br
CN =*.zoiosilva.com
